.craft{ 'data-geo-point' => craft.geo_point.to_json, 'data-map-pins'=> craft.map_pins.to_json, style:"background-color:##{craft.profile_background_color}; background-image: url(#{craft.profile_background_image_url}); background-repeat: #{craft.profile_background_tile ? 'repeat' : 'no'};" }
  .canvas
    .profile.card
      = render 'crafts/craft_header', craft: craft
    .info
      = render 'crafts/craft_info', craft: craft
