.stats.right
  = render '/crafts/craft_social_stats', craft: craft
.bio.left
  .cut
    .description
      = "#{craft.description}"
    .footer
      .url
        %a{href:craft.website}
          = "#{craft.website}"
  .social-buttons
    / https://developers.facebook.com/docs/reference/plugins/like/
    - if craft.twitter
      %iframe.tweet-follow-button.right{allowtransparency:"true", frameborder:0, scrolling:"no", src:"//platform.twitter.com/widgets/follow_button.html#align=right&button=grey&screen_name=#{craft.twitter.screen_name}&show_count=false&show_screen_name=false&lang=en"}
    - if craft.facebook
      %iframe.facebook-like-button.right{src:"//www.facebook.com/plugins/like.php?href=#{u craft.facebook.href}&send=false&layout=button_count&width=90&show_faces=true&action=like&colorscheme=light&font&height=21&appId=146598735467471", scrolling:"no", frameborder:"0", allowTransparency:"true"}          

  / .location
  /   = "#{craft.location}"
  /   .location-footer
  /     = craft.geo_enabled ? "(Geo Enabled!)" : "(Not Geo Enabled)"
  /     = craft.geo_point.to_json 
