<%= form_for(@craft) do |f| %>
  <% if @craft.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@craft.errors.count, "error") %> prohibited this craft from being saved:</h2>

      <ul>
      <% @craft.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone_number %><br />
    <%= f.text_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label :geo_coordinate %><br />
    <%= f.text_field :geo_coordinate %>
  </div>
  <div class="field">
    <%= f.label :yelp_id %><br />
    <%= f.text_field :yelp_id %>
  </div>
  <div class="field">
    <%= f.label :twitter_id %><br />
    <%= f.text_field :twitter_id %>
  </div>
  <div class="field">
    <%= f.label :facebook_id %><br />
    <%= f.text_field :facebook_id %>
  </div>
  <div class="field">
    <%= f.label :googleplus_id %><br />
    <%= f.text_field :googleplus_id %>
  </div>
  <div class="field">
    <%= f.label :geo_coordinate %><br />
    <%= f.text_field :geo_coordinate %>
  </div>
  <div class="field">
    <%= f.label :geo_coordinate_history %><br />
    <%= f.text_field :geo_coordinate_history %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
