<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @craft.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @craft.phone_number %>
</p>

<p>
  <b>Geo coordinate:</b>
  <%= @craft.geo_coordinate %>
</p>

<p>
  <b>Yelp:</b>
  <%= @craft.yelp_id %>
</p>

<p>
  <b>Twitter:</b>
  <%= @craft.twitter_id %>
</p>

<p>
  <b>Facebook:</b>
  <%= @craft.facebook_id %>
</p>

<p>
  <b>Googleplus:</b>
  <%= @craft.googleplus_id %>
</p>

<p>
  <b>Geo coordinate:</b>
  <%= @craft.geo_coordinate %>
</p>

<p>
  <b>Geo coordinate history:</b>
  <%= @craft.geo_coordinate_history %>
</p>


<%= link_to 'Edit', edit_craft_path(@craft) %> |
<%= link_to 'Back', crafts_path %>
