.tweeter{style: "background-color:##{@tweeter.profile_background_color}; background-image: url(#{@tweeter.profile_background_image_url}); background-repeat: #{@tweeter.profile_background_tile ? 'repeat' : 'no'}; "}
  .twitter.canvas
    .profile.card
      .header
        .profile
          %img{src:"#{@tweeter.profile_image_url_bigger}"}
          .id
            %h2.fullname
              = "#{@tweeter.name}"
              .intent-to-follow-on-twitter
                = twitter_follow_button(@tweeter.screen_name, false)
            %p.bio
              = "#{@tweeter.description}"
            .location-and-url
              %span.location
                = "#{@tweeter.location}"
              %span.divider ·
              %span.url
                %a{href:@tweeter.url}
                = "#{@tweeter.url}"
                = @tweeter.geo_enabled ? "(Geo Enabled!)" : "(Not Geo Enabled)"
            .location-and-url
              %span.location
                = "Yelp address"
              %span.divider ·
              %span.url
                %a{href:"yelp website"}
                = "Yelp website"
          .stats
            %ul
              %li
                .yelp
                  .ratings
                    %img{src:'http://s3-media3.ak.yelpcdn.com/assets/2/www/img/5ef3eb3cb162/ico/stars/stars_3_half.png'}
                  .logo.yelp_logo_50x25
              %li
                %img.indicator{src:"/assets/transparent-indicator.png"}
                %strong= 365
                reviews
              %li
                %img.indicator{src:"/assets/transparent-indicator.png"}
                %strong= @tweeter.statuses_count
                tweets
              %li
                %img.indicator{src:"/assets/transparent-indicator.png"}
                %strong= @tweeter.followers_count
                followers
              %li
                %img.indicator{src:"/assets/transparent-indicator.png"}
                %strong= 5123456
                likes
              / %li
              /   %img.indicator{src:"/assets/transparent-indicator.png"}
              /   %strong= @tweeter.friends_count
              /   Twitter friends
  .timeline.hidden{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
    .tweet.status{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
      = @tweeter.timeline.first['text']

    %h3 More tweets
    - @tweeter.timeline.each do |timeline|
      .tweet{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
        = timeline['text']
  .yelp.canvas
    .reviews.card 
      yelp reviews
    .review{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}

      .field= "profile_background_color = #{@tweeter.profile_background_color}"
      .field= "profile_background_image_url = #{@tweeter.profile_background_image_url}"
      .field= "profile_background_image_url_https = #{@tweeter.profile_background_image_url_https}"
      .field= "profile_background_tile = #{@tweeter.profile_background_tile}"

      .field= "profile_image_url_https = #{@tweeter.profile_image_url_https}"
      .field= "profile_link_color = #{@tweeter.profile_link_color}"
      .field= "profile_sidebar_border_color = #{@tweeter.profile_sidebar_border_color}"
      .field= "profile_sidebar_fill_color = #{@tweeter.profile_sidebar_fill_color}"
      .field= "profile_text_color = #{@tweeter.profile_text_color}"
      .field= "profile_use_background_image = #{@tweeter.profile_use_background_image}"

      .field= "twitter_account_created_at = #{@tweeter.twitter_account_created_at}"
      .field= "is_protected = #{@tweeter.is_protected}"
      .field= "kind = #{@tweeter.kind}"
      .field= "listed_count = #{@tweeter.listed_count}"
      .field= "favourites_count = #{@tweeter.favourites_count}"
      .field= "utc_offset = #{@tweeter.utc_offset}"
      .field= "time_zone = #{@tweeter.time_zone}"
      .field= "verified = #{@tweeter.verified}"
      .field= "lang = #{@tweeter.lang}"
      .field= "default_profile = #{@tweeter.default_profile}"
      .field= "default_profile_image = #{@tweeter.default_profile_image}"
      .field= "timeline = #{@tweeter.timeline}"
