<p id="notice"><%= notice %></p>

<p>
  <b>Kind:</b>
  <%= @twitter_account.kind %>
</p>

<p>
  <b>Username:</b>
  <%= @twitter_account.username %>
</p>

<p>
  <b>Name:</b>
  <%= @twitter_account.name %>
</p>

<p>
  <b>Description:</b>
  <%= @twitter_account.description %>
</p>

<p>
  <b>Url:</b>
  <%= @twitter_account.url %>
</p>


<%= link_to 'Edit', edit_twitter_account_path(@twitter_account) %> |
<%= link_to 'Back', twitter_accounts_path %>
