<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @organizer.name %>
</p>

<p>
  <b>Value:</b>
  <%= @organizer.value %>
</p>

<p>
  <b>Approved:</b>
  <%= @organizer.approved %>
</p>


<%= link_to 'Edit', edit_organizer_path(@organizer) %> |
<%= link_to 'Back', organizers_path %>
