<h1>Listing city_states</h1>

<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @city_states.each do |city_state| %>
  <tr>
    <td><%= city_state.city %></td>
    <td><%= city_state.state %></td>
    <td><%= link_to 'Show', city_state %></td>
    <td><%= link_to 'Edit', edit_city_state_path(city_state) %></td>
    <td><%= link_to 'Destroy', city_state, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New City state', new_city_state_path %>
