<p id="notice"><%= notice %></p>

<p>
  <b>City:</b>
  <%= @city_state.city %>
</p>

<p>
  <b>State:</b>
  <%= @city_state.state %>
</p>


<%= link_to 'Edit', edit_city_state_path(@city_state) %> |
<%= link_to 'Back', city_states_path %>
