.tweeter.stream-line{style: "background-color:##{twitter.profile_background_color}; background-image: url(#{twitter.profile_background_image_url}); background-repeat: #{twitter.profile_background_tile ? 'repeat' : 'no'}; "}
  .twitter.canvas
    .profile.card
      .header
        .profile
          %img{src:"#{twitter.profile_image_url}"}
          .id
            %h2.fullname
              = "#{twitter.name}"
              .intent-to-follow-on-twitter
                = twitter_follow_button(twitter.screen_name, false)
            %p.bio
              = "#{twitter.description}"
            .location-and-url
              %span.location
                = "#{twitter.location}"
              %span.divider ·
              %span.url
                %a{href:twitter.url}
                = "#{twitter.url}"
                = twitter.geo_enabled ? "(Geo Enabled!)" : "(Not Geo Enabled)"
            .location-and-url
              %span.location
                = "Yelp address"
              %span.divider ·
              %span.url
                %a{href:"yelp website"}
                = "Yelp website"
          = render '/crafts/web_crafts/all_stats', craft: craft, twitter: twitter, yelp: yelp, facebook: facebook, webpage: webpage

  / .timeline.hidden{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
  /   .tweet.status{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
  /     = twitter.timeline.first['text']

  /   %h3 More tweets
  /   - twitter.timeline.each do |timeline|
  /     .tweet{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}
  /       = timeline['text']
  / .yelp.canvas
  /   .reviews.card 
  /     yelp reviews
  /   .yelp_listing
  /   .review{style:'border:1px solid black; background-color: white; margin: 20px 20px;'}

  /     .field= "profile_background_color = #{twitter.profile_background_color}"
  /     .field= "profile_background_image_url = #{twitter.profile_background_image_url}"
  /     .field= "profile_background_image_url_https = #{twitter.profile_background_image_url_https}"
  /     .field= "profile_background_tile = #{twitter.profile_background_tile}"

  /     .field= "profile_image_url_https = #{twitter.profile_image_url_https}"
  /     .field= "profile_link_color = #{twitter.profile_link_color}"
  /     .field= "profile_sidebar_border_color = #{twitter.profile_sidebar_border_color}"
  /     .field= "profile_sidebar_fill_color = #{twitter.profile_sidebar_fill_color}"
  /     .field= "profile_text_color = #{twitter.profile_text_color}"
  /     .field= "profile_use_background_image = #{twitter.profile_use_background_image}"

  /     .field= "twitter_account_created_at = #{twitter.twitter_account_created_at}"
  /     .field= "is_protected = #{twitter.is_protected}"
  /     .field= "provider = #{twitter.provider}"
  /     .field= "listed_count = #{twitter.listed_count}"
  /     .field= "favourites_count = #{twitter.favourites_count}"
  /     .field= "utc_offset = #{twitter.utc_offset}"
  /     .field= "time_zone = #{twitter.time_zone}"
  /     .field= "verified = #{twitter.verified}"
  /     .field= "lang = #{twitter.lang}"
  /     .field= "default_profile = #{twitter.default_profile}"
  /     .field= "default_profile_image = #{twitter.default_profile_image}"
  /     .field= "timeline = #{twitter.timeline}"
