- @title = 'San Francisco'
- @show_locator = true

/ - if @target_interest[:location][:metro_kw].present? and @target_interest[:location][:metro_kw] != @target_interest[:location][:city_kw]
- if @crafts.present?
  - @crafts.each do |craft|
    .section
      = render '/crafts/craft', craft: craft

#geomap-wrapper{style:"position:fixed; top: 150px; left: 700px; right:0; border: 1px solid blue;"}
  .geomap.cut

:javascript
  $(function(){
    $('#geomap-wrapper').css('height', 3 * $('#geomap-wrapper').width() / 5);

    $(window).resize(function () {
      $('#geomap-wrapper').css('height', $('#geomap-wrapper').width()/2);
    });
  })

#right-sidebar
  / =render 'crafts/crafts_nav'

/ %h1 index
/ = request.host
/ .x= "Have a #{@target_interest[:meal_kw]} meal!"
/ .x= "Truck: #{@target_interest[:food_truck_kw]}"
/ .x= "#{@target_interest[:fest_kw]} Festival"
/ .x= "Cuisine: #{@target_interest[:cuisine_kw]}"
/ .x= "College of #{@target_interest[:college_kw]}"
/ .x= "City of #{@target_interest[:location][:city_kw]}"
/ .x= "State of #{@target_interest[:location][:state_kw]}"
/ .x= "around #{@target_interest[:location][:metro_kw]}" 

/ / (type="text/javascript" src="http://www.refmobworks.com/yelpreview?phone=2142191300")

/ %script{:language=>'javascript', :src=>'http://widgets.twimg.com/j/2/widget.js'}
/ %script{:type=>"text/javascript"}
/   :plain
/     var twitterDisplay = new TWTR.Widget({
/       version: 2,
/       type: 'profile',
/       rpp: 8,
/       interval: 30000,
/       width: 350,
/       height: 300,
/       theme: {
/         shell: {
/           background: '#008',
/           color: '#aaa'
/         },
/         tweets: {
/           background: '#ccc',
/           color: '#228',
/           links: '#282'
/         }
/       },
/       features: {
/         scrollbar: true,
/         loop: false,
/         live: false,
/         hashtags: true,
/         timestamp: true,
/         avatars: true,
/         behavior: 'all',
/         toptweets: true
/       }
/     }).render().setUser('rylyz').start();

/ :javascript
/   var twitterRequestCount = 0;
/   var twitterRateLimit = 100; //twitter sets to 150

/   function showTwitterFeed(username){
/     twitterRequestCount++;
/     if (twitterRequestCount < twitterRateLimit) {
/       twitterDisplay.destroy();
/       twitterDisplay.setUser(username).render().start();
/     }
/     else {
/       window.open('http://www.twitter.com/'+twitterUsername,twitterUsername,'width=900,height=600');
/     }
/   }

/   $(function() {
/     // showTwitterFeed('rylyz')
/   });
