<p id="notice"><%= notice %></p>

<p>
  <b>Twitter:</b>
  <%= @tweet_stream_account.twitter_id %>
</p>

<p>
  <b>Screen Name:</b>
  <%= @tweet_stream_account.screen_name %>
</p>

<p>
  <b>Description:</b>
  <%= @tweet_stream_account.description %>
</p>

<p>
  <b>Location:</b>
  <%= @tweet_stream_account.location %>
</p>

<p>
  <b># Friends:</b>
  <%= @tweet_stream_account.friends_count %>
</p>

<p>
  <b># Followers:</b>
  <%= @tweet_stream_account.followers_count %>
</p>

<p>
  <b>Address:</b>
  <%= @tweet_stream_account.address %>
</p>

<p>
  <b>Coordinates:</b>
  <%= @tweet_stream_account.coordinates %>
</p>

<p>
  <b>Oauth token:</b>
  <%= @tweet_stream_account.oauth_token %>
</p>

<p>
  <b>Oauth token secret:</b>
  <%= @tweet_stream_account.oauth_token_secret %>
</p>

<p>
  <b>Consumer key:</b>
  <%= @tweet_stream_account.consumer_key %>
</p>

<p>
  <b>Consumer secret:</b>
  <%= @tweet_stream_account.consumer_secret %>
</p>


<%= link_to 'Edit', edit_tweet_stream_account_path(@tweet_stream_account) %> |
<%= link_to 'Back', tweet_stream_accounts_path %>
