!!! 5
%html{ :lang => "en"}
  %head
    %title Food Trucks
    = stylesheet_link_tag    "application", :media => "all"
    :plain
      <!--[if lt IE 7]>
      #{stylesheet_link_tag "ie/application", :media => "all"}
      <![endif]-->

    = javascript_include_tag "application"
    = javascript_include_tag "http://underscorejs.org/underscore-min.js"
    / = javascript_include_tag "https://platform.twitter.com/widgets.js"

    - if Rails.env.production? and true  # replace true with domain == food-trucks
      - google_maps_api_key = "AIzaSyA6SvDNT6S-hTO1EydsE93i2yx7vaoDfNo" # API_KEY for food-truck.me: 25K/day free, need to buy if more than that.
      = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false&key=#{google_maps_api_key}".html_safe
      = javascript_include_tag "google/analytics"
    - else
      = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=false"

    -if @js_var.present?
      :javascript
        var js_var = #{@js_var.to_json}
    = csrf_meta_tags
  %body{'data-geo-place' => @geo_place, 'data-geo-coordinates' => @geo_coordinates}
    #page-wrap
      #inside

        #header-wrap
          #header
            -  # Organize h1 and h2 for SEO readability by spiders
            .info= (request.host.match /^.*(\.[a-zA-Z]+$)/)[1]  # get the .com or whatever domain we are on
            %h1 FOOD-TRUCKS
            - if @geo_city
              %h2= @geo_city
            - if @show_locator
              - form_action = @locator_submit_url
              - form_action ||= root_path
              #locator
                %form{action: form_action, method: :get}
                  %input.med{type: :text, name: :qp, value: @query_place, placeholder: 'adress, city, state or zip'}
                  %button.off-screen{type: :submit}
        #main-content
          = yield

        #footer-wrap
          #footer
            %p Footer stuff.

      #light.white_content
      #fade.black_overlay
